# Carpetas estándar de Unity que no deben versionarse
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Archivos de configuración locales
*.csproj
*.sln
*.user
*.vsconfig

# Ignorar carpetas externas que no son parte de SpellBrawl
DictionaryStoreEDD_PedroZampella/
ejercicioEDD_PedroZampella/
StrikeBall/